
#container{
    align-self: center;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.cuadro{
    
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px;
    margin: 3px;
    padding: 3px;
    flex: 0 1 calc(33% - 1rem);
}
