.datos-personales{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 48%;
}
h1{
    text-align: center;
}
.datos-bancarios{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 48%;

}
table td{
    border-collapse: collapse;
    padding: 5px;
}
.datos-cuenta{
    border: 2px solid black;
     margin: 8px;
    padding: 8px;
}
